<div class="container-fluid text-center">
  <div class="row justify-content-center">
      <div class="col-md-4 mx-auto" id="cabecera">
          <ul class="nav justify-content-center nav-underline">
              <li class="nav-item">
                  <a class="nav-link" href="#Formacion">Formación</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#Experiencia">Experiencia</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#Proyecto">Proyectos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#formulario">Contacto</a>
              </li>
          </ul>
      </div>
  </div>
</div>
