<div class="container"  id="ProyectoTitulo">
  <div class="row">
      <div class="col-8 mx-auto">
          <h2>Proyectos</h2>
      </div>
  </div>
</div>

<div class="container" id="Proyecto">
  <div class="row justify-content-center d-flex align-items-stretch">
      <div class="col-md-4 fade-in">
          <div class="card h-100">
              <img src="../Images/pong.jpg" class="card-img-top" alt="ImgPong">
              <div class="card-body">
                  <h5 class="card-title" id="color">Pong</h5>
                  <p class="card-text">Recreación del primer juego jamas creado, desarrollado en Java.</p>
                  <a href="https://github.com/AntrisMedac/Pong.git" target="_blank" class="btn" id="botonCustom">Echale un vistazo</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 fade-in">
          <div class="card h-100">
              <img src="../Images/myPoker.png" class="card-img-top" alt="ImgPoker">
              <div class="card-body">
                  <h5 class="card-title" id="color">MyPoker</h5>
                  <p class="card-text">Landing page de un casino, desarrollado con Boostrap, JS, Php, Css, Html.</p>
                  <a href="https://github.com/AntrisMedac/Poker.git" target="_blank" class="btn" id="botonCustom">Echale un vistazo</a>
              </div>
          </div>
      </div>
  </div>
</div>
