<div class="text-right" id="SobreMi">
  <div class="row">
      <div class="col-7 mx-auto fade-in">
          <h1>Sobre mi</h1>
          <p> Me apasiona el desarrollo web, especialmente en el área de back-end,
              donde disfruto creando soluciones eficientes y escalables. Mi experiencia laboral en entornos exigentes me ha permitido
              desarrollar habilidades para trabajar bajo presión y gestionar múltiples tareas con éxito junto a mis compañeros de trabajo.
              Estoy en constante aprendizaje y busco oportunidades para aplicar y ampliar mis conocimientos en proyectos reales.</p>
      </div>
  </div>
</div>
