<div class="text-right" id="Experiencia">
  <div class="row">
      <div class="col-7 mx-auto">
          <h2 class="fade-in">💼 Experiencia laboral</h2>

          <div class="row" id="Trabajos">
              <div class="col-6 mx-auto fade-in">
                  <h4>Plataforma Femar S.L.</h4>
                  <h5 id="color">Responsable de control de stock</h5>
              </div>

              <div class="col-6 mx-auto fade-in">
                  <p>
                      Comprobar el buen estado de la mercancía y su correcta documentación.
                      Registro de la mercancía recibida en el programa de gestión, así como eliminar el stock
                      dañado o caducado.
                  </p>
              </div>
          </div>

          <div class="row" id="Trabajos">
              <div class="col-6 mx-auto fade-in">
                  <h4>Bodega San José S.L.</h4>
                  <h5 id="color">Responsable de barra</h5>
              </div>

              <div class="col-6 mx-auto fade-in">
                  <p>
                      Mi principal función era la gestión de cobros de las cuentas y el correcto apunte de las comandas.
                      A su vez llevaba tareas como servir las bebidas y mantener un stock adecuado para las ventas esperadas.
                  </p>
              </div>
          </div>

          <div class="row" id="Trabajos">
              <div class="col-6 mx-auto fade-in">
                  <h4>Asesortiz S.L.U</h4>
                  <h5 id="color">Practicas de administración</h5>
              </div>

              <div class="col-6 mx-auto fade-in">
                  <p>
                      Tenía a mi cargo realizar la contabilidad de varias empresas y autonomos del pueblo, campaña de rentas de los
                      vecinos y gestión de archivos.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
